# don't push local rendered files in master branch
_book/
_bookdown_files/
libs/
**/*.bib
# keep static references
!**/book.bib
**/*.html 
# ignore all html files except:
!**/mathjax_header.html
!**/header.html
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.txt
.DS_Store
